@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

/* @font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-medium-webfont.woff);
    font-weight: 500;
} */

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

:root {
    --board-size: 0.85;
}

body {
    font-family: 'Roboto', serif;
    transition: opacity 2s ease;
    margin: 0;
    opacity: 0;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: steelblue;
    text-align: center;
    font-size: 27.9vw;
    margin-top: -10px;
    margin-bottom: 8px;
}

body:hover {
    cursor: default;
} 

.numbers {
    display: flex;
    /* border: 1px solid steelblue; */
    width: calc(var(--board-size) + 3px);
    height: calc(var(--board-size) / 9);
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
}

.number {

    display: grid;
    position: relative; 

    grid-column: 1;
    grid-row: 1;

    place-items: center;
    /* border: 1px solid steelblue; */
    /* display: grid; */
    /* justify-content: center; */
    align-content: center;
    /* align-self: start; */
    /* width: calc((var(--board-size) + 3px) / 18); */
    /* margin: auto; */
    color: steelblue;
    font-size: 2em;
    font-weight: bold;
}


.number:after {
    content: '';
    position: absolute;
    left: calc(var(--board-size) / -38);
    right: calc(var(--board-size) / -38);

    top: -5px;
    bottom: -5px;
    

    /* outline: 1px solid pink; */
}

.bar {
    /* display: flex; */
    /* border: 1px solid steelblue; */
    /* width: calc(var(--board-size) / 2.4); */
    width: calc(var(--board-size) / 2.2);
    height: calc(var(--board-size) / 9);
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
    opacity: 0;
    display: none;
    visibility: hidden;
}

.reload, .hint {

    display: grid;
    position: relative; 

    grid-column: 1;
    grid-row: 1;

    place-items: center;
    
    align-content: center;
   
    color: steelblue;
    font-size: 2em;
    font-weight: bold;
}


/* .hint {
    position: relative; 

    grid-column: 1;
    grid-row: 1;

    place-items: center;

    align-content: center;
    width: calc(var(--board-size) / 9);

    height: calc(var(--board-size) / 9);
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    opacity: 0;
    display: none;
    visibility: hidden;
} */

/* .hint {

    color: steelblue;
    font-size: 2em;
    font-weight: bold;
} */

.reload:after, .hint:after {
    content: '';
    position: absolute;
    /* left: calc(var(--board-size) / -1); */
    /* right: calc(var(--board-size) / -38); */

    top: -5px;
    bottom: -5px;
    /* left: -0.3em; */
    /* right: -0.3em; */

    left: calc(var(--board-size) / -38);
    right: calc(var(--board-size) / -38);

    /* outline: 1px solid pink */
}

#img1 {
    height: calc(var(--board-size) / 9);
    /* transform: translateY(-0px); */
    transform: translateY(-2px);

}

#img2 {
    height: calc(var(--board-size) / 10);
    /* transform: translateY(-0px); */
    transform: translateY(-2px);
    margin-right: 6px;
}

/* img { */
    /* height: calc(var(--board-size) / 10); */
    /* transform: translateY(20px); */
/* } */

.display {
    /* transition: opacity 0.5s ease; */
    transition: opacity 0.2s ease;
    visibility: visible;
    opacity: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 10px solid steelblue;
    background-color: steelblue;
    width: calc(var(--board-size) + 3px);
    height: calc(var(--board-size) + 3px);
    border-radius: 7px;
    /* margin-top: -100px; */
    gap: 1px 1px;
    /* padding: 1px; */
    margin: auto;
}

.cell {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 1.5em;
    background-color: white;
    width: calc(var(--board-size) / 9 - 1px);
    height: calc(var(--board-size) / 9 - 1px);
}

.cell:nth-child(3),:nth-child(6) {
    margin-right: 2px;
}

.cell:nth-child(n + 19):nth-child(-n + 27) {
    margin-bottom: 2px;
}

.cell:nth-child(n + 46):nth-child(-n + 54) {
    margin-bottom: 2px;
}

.cell,.number,.reload,.hint:hover {
    cursor: pointer;
} 

@keyframes incorrect {
    0% {
        color: white; 
    }
  
    37% {
        color: firebrick; 
    } 

    75% {
        color: white; 
    } 
}


@keyframes correct {
    0% {
        color: white; 
    }
  
    37% {
        color: steelblue; 
    } 

    75% {
        color: white; 
    } 
}

/* @keyframes showbar {
    0% {
        opacity: 0; 
    }
  
    12.5% {
        opacity: 1;
    } 

    87.5% {
        opacity: 1; 
    } 

    100% {
        opacity: 0; 
    } 
} */

@keyframes showbar {
    0% {
        opacity: 0; 
    }
  
    5% {
        opacity: 1;
    } 

    95% {
        opacity: 1; 
    } 

    100% {
        opacity: 0; 
    } 
}

/* @keyframes showbarinit {
    0% {
        opacity: 0; 
    }
  
    25% {
        opacity: 1;
    } 

    75% {
        opacity: 1; 
    } 

    100% {
        opacity: 0; 
    } 
} */

@keyframes showbarinit {
    0% {
        opacity: 0; 
    }
  
    20% {
        opacity: 1;
    } 

    90% {
        opacity: 1; 
    } 

    100% {
        opacity: 0; 
    } 
}

.showbar {
    animation: showbar 4s ease-in-out forwards;
}

.showbarinit {
    animation: showbarinit 4s ease-in-out forwards;
}


.filled {
    color: steelblue;
    transition: color 0.2s ease;
}

.select, .gray {
    background-color: #ecf2f7;
    /* background-color: #f5f8fb; */

    /* background-color: whitesmoke; */
}

.bold {
    font-weight: bold;
    /* transition: font-weight 5s ease-in-out; */
}

.digit {
    line-height: 90%;
}

@keyframes pop {
    0% {
      transform: scale(1); 
    }
  
    50% {
      transform: scale(1.5); 
    } 

    100% {
        transform: scale(1); 
      } 
}

.pop {
    animation: pop 0.3s ease forwards;
}

#designed {
    text-align: center;
    align-self: auto;
    color: white;
    font-size: 0.55em; 
    margin-top: -1.35em;
    transition: opacity 0.5s linear;
}

@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }

    .board {
        margin-top: 20px;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
    }

    h1 {
        font-size: 8.4em;
    }

    .numbers {
        width: calc(var(--board-size-big) + 3px);
        height: calc(var(--board-size-big) / 9);
        /* margin-top: -80px; */
        /* margin-bottom: 20px; */

    }

    .number {
        font-size: 2em;
        /* width: calc((var(--board-size-big) + 3px) / 12); */

    }

    .number:after {
        top: -5px;
        bottom: -5px;
        left: -13px;
        right: -13px;
    }

    /* .choice {
       
        width: calc(var(--board-size-big) / 2.4);
        height: calc(var(--board-size-big) / 9);
    } */

    .bar {
        width: calc(var(--board-size-big) / 2.37);
        height: calc(var(--board-size-big) / 9);
    }

    /* .hint {
        width: calc(var(--board-size-big) / 9);
        height: calc(var(--board-size-big) / 9);
    } */

    /* .hint {
        font-size: 2em;
    } */

    .reload:after, .hint:after {
        top: -5px;
        bottom: -5px;
        left: -13px;
        right: -13px;
    
        /* outline: 1px solid pink */
    }

    #img1 {
        height: calc(var(--board-size) / 19);
        /* transform: translateY(-0px); */
    }

    #img2 {
        height: calc(var(--board-size) / 20);
        /* transform: translateY(-0px); */
    }

    /* img:nth-child(2) {
        height: calc(var(--board-size) / 20);
    } */

    

    .board {
        border: 15px solid steelblue;
        /* width: calc(var(--board-size-big) + 4px); */
        /* height: calc(var(--board-size-big) + 4px); */
        width: calc(var(--board-size-big) + 3px);
        height: calc(var(--board-size-big) + 3px);
        /* padding: 2px; */
        /* gap: 2px 2px; */
        gap: 1px 1px;

    }

    .cell {
        /* width: calc(var(--board-size-big) / 9 - 2px); */
        /* height: calc(var(--board-size-big) / 9 - 2px); */
        width: calc(var(--board-size-big) / 9 - 1px);
        height: calc(var(--board-size-big) / 9 - 1px);
        box-sizing: border-box;
    }

    /* .cell:nth-child(3),:nth-child(6) {
        margin-right: 2px;

    }

    .cell:nth-child(n + 19):nth-child(-n + 27) {
        margin-bottom: 2px;

    }
    
    .cell:nth-child(n + 46):nth-child(-n + 54) {
        margin-bottom: 2px;

    } */


    .disk {
        height: var(--disk-size-big);
        width: var(--disk-size-big);    
    }
    
    #designed {
        font-size: 0.8em; 
        margin-top: -1.3em;
    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
            -webkit-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
    }